* {
  margin: 0;
}

ul {
  height: 36px;
  line-height: 36px;
}

main header h1 {
  margin-top: 40px;
}

.section__main {
  border: 2px dotted gray;
  height: 70vh;
  border-radius: 10px;
  padding: 10px;
  margin-top: 40px;
}

.active {
  border-bottom: 2px solid #1f8855;
}

/* .inactive {
  border-bottom: 2px solid gray;
} */

.inactive:hover {
  border-bottom: 2px solid gray;
}

.nav-link {
  padding: 10px 12px;
}
.active__link {
  border-bottom: 10px solid #1f8855;
  background-color: rgb(201, 201, 201);
  font-weight: bold;
  border-radius: 5px;
}

.inactive__link:hover {
  border-bottom: 10px solid gray;
  font-weight: bold;
  background-color: #fff;
  border-radius: 5px;
}
